.footer {
  background-color: #1E3A8A; 
  color: #FFFFFF;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-content {
  max-width: 900px;
  margin: auto;
}

.footer p {
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
  color: #F5DEB3; 
}

@media (max-width: 500px) {
.footer p{
 margin-top: 20px;
 margin-left: 0px;
 
}
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.social-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: #F5DEB3; 
}
